<h1>Select Part:</h1>

<label>Search for part: </label>
<textarea>11111</textarea>
<br />
<button>Search</button>
<br />

<textarea>
    Results! Will be a table or grid in future!
</textarea>
<br />

<a asp-action="CreatorResults" asp-controller="CodeCreator">Send Part</a>