<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScannerWebAppUpdate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScannerWebAppUpdate.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/materialize.min.css"/>
    <link rel="stylesheet" href="~/css/styles.css"/>
    <script src="~/lib/jquery/jquery.min.js"></script>


    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>


    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/js/materialize.min.js"></script>
    <style>
        .navbar-fixed .nav-wrapper{
            height: 65px;
           
        }

        .brand-logo img{
            height:58px;
            width: auto;
        }

       
    </style>

</head>
<body class="has-fixed-sidenav">
    <header>


        <div class="navbar-fixed z-depth-1">
            <nav>
                <div class="nav-wrapper z-depth-1 white">
                    <a class="brand-logo responsive-img" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Resize APS.png"></a>
                    <a href="!#" data-target="mobile-demo" class="sidenav-trigger hide-on-large-only text-blue"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </div>

    </header>


    <!-- Mobile Sidenav -->
    <ul class="sidenav blue darken-3 white-text" id="mobile-demo">
        <li><a class="white-text" asp-area="" asp-controller="Home" asp-action="Index"><i class="material-icons left indigo-text text-darken-4">dashboard</i>Dashboard</a></li>
        <li><a class="white-text" asp-area="" asp-controller="PurchaseOrders" asp-action=""><i class="material-icons left  indigo-text text-darken-4">work</i>Purchase Orders</a></li>
        <li><a class="white-text" asp-area="" asp-controller="Jobs" asp-action=""><i class="material-icons left  indigo-text text-darken-4">work</i>Jobs</a></li>
        <li><a class="white-text" asp-area="" asp-controller="Scanner" asp-action=""><i class="material-icons left  indigo-text text-darken-4">qr_code_scanner</i>Scanner</a></li>
        <li><a class="white-text" asp-area="" asp-controller="CodeCreator" asp-action=""><i class="material-icons left  indigo-text text-darken-4">print</i>Print Barcode</a></li>
        <li><a class="white-text" asp-area="" asp-controller="ScanHistory" asp-action=""><i class="material-icons left  indigo-text text-darken-4">history</i>Scan History</a></li>
        <li><a class="white-text" asp-area="" asp-controller="PartDeliveries" asp-action=""><i class="material-icons left  indigo-text text-darken-4">schedule</i>Scheduled Deliveries</a></li>
        <li><a class="white-text" asp-area="" asp-controller="Settings" asp-action=""><i class="material-icons left  indigo-text text-darken-4">settings</i>Settings</a></li>
        <li><a class="white-text" asp-area="" asp-controller="TestPages" asp-action="">Test Page</a></li>
    </ul>

    <!--Fixed SideNav-->
    <ul class="sidenav blue darken-3 white-text sidenav-fixed hide-on-med-and-down invesible-top" id="mobile-nav">
        <li><a class="white-text" asp-area="" asp-controller="Home" asp-action="Index"><i class="material-icons left  indigo-text text-darken-4">dashboard</i>Dashboard</a></li>
        <li><a class="white-text" asp-area="" asp-controller="PurchaseOrders" asp-action=""><i class="material-icons left  indigo-text text-darken-4">work</i>Purchase Orders</a></li>
        <li><a class="white-text" asp-area="" asp-controller="Jobs" asp-action=""><i class="material-icons left  indigo-text text-darken-4">work</i>Jobs</a></li>
        <li><a class="white-text" asp-area="" asp-controller="Scanner" asp-action=""><i class="material-icons left  indigo-text text-darken-4">qr_code_scanner</i>Scanner</a></li>
        <li><a class="white-text" asp-area="" asp-controller="CodeCreator" asp-action=""><i class="material-icons left indigo-text text-darken-4">print</i>Print Barcode</a></li>
        <li><a class="white-text" asp-area="" asp-controller="ScanHistory" asp-action=""><i class="material-icons left  indigo-text text-darken-4">history</i>Scan History</a></li>
        <li><a class="white-text" asp-area="" asp-controller="PartDeliveries" asp-action=""><i class="material-icons left  indigo-text text-darken-4">schedule</i>Scheduled Deliveries</a></li>
        <li><a class="white-text" asp-area="" asp-controller="Settings" asp-action=""><i class="material-icons left  indigo-text text-darken-4">settings</i>Settings</a></li>
        <li><a class="white-text" asp-area="" asp-controller="TestPages" asp-action="">Test Page</a></li>
    </ul>


    <div class="page-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn blue darken-2">
            <i class="material-icons top">qr_code_scanner</i>Scan
        </a>
        <ul>
            <li><a class="btn-floating blue darken-2" asp-area="" asp-controller="Scanner" asp-action=""><i class="material-icons left">qr_code_scanner</i>Scan</a></li>
            <li><a class="btn-floating blue darken-2" asp-area="" asp-controller="CodeCreator" asp-action=""><i class="material-icons left">create</i>Create</a></li>
        </ul>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, { draggable: true });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                direction: 'left',
                hoverEnabled: false
            });
        });
    </script>

 

 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
