<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScannerWebAppUpdate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScannerWebAppUpdate.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/materialize.min.css"/>
    <link rel="stylesheet" href="~/css/styles.css"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/js/materialize.min.js"></script>
    <style>
        .brand-logo img {
            height: 100% !important;
            width: auto !important;
        }

        nav{
            height: 75px;
        }
    </style>

</head>
<body class="has-fixed-sidenav">
    <header>
        <div>
            <h6 class="right-align">Account: Admin</h6>
        </div>
        <!-- Navigation Bar -->
        <nav>
            <div class="nav-wrapper blue darken-2">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img class="brand-logo responsive-img" src="~/img/APS_Logo_75.png" /></a>
                <a href="!#" data-target="mobile-demo" class="sidenav-trigger center-align  text-white"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li> <a asp-area="" asp-controller="Scanner" asp-action="">Scan Part</a></li>
                    <li><a asp-area="" asp-controller="CodeCreator" asp-action="">Create Barcode</a></li>
                    <li><a asp-area="" asp-controller="Settings" asp-action="">Settings</a></li>
                    <li><a asp-area="" asp-controller="TestPages" asp-action="">Test Page</a></li>
                </ul>
            </div>
        </nav>

        <!-- Sidenav -->
        <ul class="sidenav white text-blue darken-2" id="mobile-demo">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li> <a asp-area="" asp-controller="Scanner" asp-action="">Scan Part</a></li>
            <li><a asp-area="" asp-controller="CodeCreator" asp-action="">Create Barcode</a></li>
            <li><a asp-area="" asp-controller="Settings" asp-action="">Settings</a></li>
            <li><a asp-area="" asp-controller="TestPages" asp-action="">Test Page</a></li>
        </ul>

    </header>
    <div class="page-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, { draggable: true });
        });
    </script>
 

 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
