<h1>Settings</h1>
<h3>@ViewBag.UploadStatus</h3>

<div class="row">
<!-- Add Tech Modal Trigger & Modal -->
<div class="col s2 m2 l2">
<button data-target="AddTech" class="btn modal-trigger">Add Tech Option: </button>
<div id="AddTech" class="modal">
    <div>
        <form asp-action="UploadTech" asp-controller="Settings" method="post">
            <label>Enter Tech Option: </label>
            <textarea name="techDescription"></textarea>
            
            <!--Submits changes to database-->
            <button class="waves-effect btn blue darken-2" type="submit" id="submit">Submit</button>
        </form>
        <button class="waves-effect btn blue darken-2 modal-close">Cancel</button>
    </div>
</div>
</div>

<!-- Add Return Modal Trigger & Modal -->
<div class="col s8 m8 l8">
<button data-target="AddReturn" class="btn modal-trigger">Add Return Option: </button>
<div id="AddReturn" class="modal">
    <div>
        <form asp-action="UploadReturn" asp-controller="Settings" method="post">
            <label>Enter Return Option: </label>
            <textarea name="returnDescription"></textarea>
           
            <!--Submits changes to database-->
            <button class="waves-effect btn blue darken-2" type="submit" id="submit">Submit</button>
        </form>
        <button class="waves-effect btn blue darken-2 modal-close">Cancel</button>
    </div>
</div>
</div>



<!--Select Server to save and retrieve info from-->
<div class="col s2 m2 l2">
    <label>Database Used: </label>
    <select>
        <option>Test Site</option>
        <option>Main Site</option>
        <option>Local Site</option>
        <option>Local Storage</option>
    </select>
    </div>
</div>

<!--Save location of excel sheet with part update history-->
<div class="row">
    <div class="col s8 m8 l8">
        <label>Change Excel Save Location: </label>
        <textarea>c:/user/documents/scannedparts.excel</textarea>
        <button class="waves-effect btn blue darken-2">Save Settings</button>
    </div>
   
</div>

<!--TESTING Seeding buttons. TODO: REMOVE DURING PRODUCTION-->
<div class="row">
    <a type="button" asp-action="uploadTestTechs" asp-controller="Settings">Seed Test Tech Options</a>

    <a type="button" asp-action="uploadTestReturns" asp-controller="Settings">Seed Test Return Options</a>

    <a type="button" asp-action="uploadTestParts" asp-controller="Settings">Seed Test Parts</a>
</div>



<script src="~/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>
