<h1>This is Settings Menu</h1>

<button>Add Tech Option</button>
<br />
<button>Add Return Option</button>
<br />
<label>Database Used: </label>
<select>
    <option>Test Site</option>
    <option>Main Site</option>
    <option>Local Site</option>
    <option>Local Storage</option>
</select>
<br />
<label>Change Save Location: </label>
<textarea>c:/user/documents/scannedparts.excel</textarea>
<br />
<button>Save Settings</button>

<a type="button" asp-action="uploadTestTechs" asp-controller="Settings">Seed Test Tech Options</a>

<a type="button" asp-action="uploadTestReturns" asp-controller="Settings">Seed Test Return Options</a>

<a type="button" asp-action="uploadTestParts" asp-controller="Settings">Seed Test Parts</a>
