<head>
    <style>

        #reader{
            width:500px;
            position: static;
        }
  
    </style>
</head>

<div class="container">
    <div class="row">
    </div>
    <div class="row center">
        <div id="reader" width="50px"></div>
    </div>
    <div class="row">
    </div>

</div>

<script src="~/dist/testCapture.bundle.js"></script>

