<style>
    .flex-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        flex: 1 1 300px; /* Equal width, but can grow and shrink */
        margin: 10px;
    }

    .btn-large {
        margin: 5px;
    }
</style>

<!--A Sample dashboard with sample data-->
<h1>Dashboard:</h1>


<div class="flex-container center-align">
    <div class="card">
        <div class="card-content">
            <!--Contains test Scan History-->
            <span class="card-title">Scan History:</span>
            <ul>
                <li>Part: 122, Returned, Modifed: 12/4/12</li>
                <li>Part: 2277, TechOption, Modifed: 12/4/12</li>
                <li>Part: 22222, TechOption, Modifed: 12/4/12</li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <!--Contains test Job History-->
            <span class="card-title"> Recently Viewed Jobs:</span>
            <ul>
                <li>Job: 1, Parts: 56, Date: 2/4/25</li>
                <li>Job 2, Parts: 12, Date: 3/8/25</li>
                <li>Job 3, Parts: 4, Date: 5/6/25</li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <!--Contains test Parts delivery-->
            <span class="card-title">Scheduled Part Delivery:</span>
            <ul>
                <li>Part: 1234, 12/3/23, Lumberton NC</li>
                <li>Part: 2224, 12/3/23, Lumberton NC</li>
                <li>Part: 2235, 12/5/23, Lumberton NC</li>
            </ul>
        </div>
    </div>
</div>


<div class="center-align">
    <!--Takes user to scanner page to scan an item-->
    <a class="waves-effect blue darken-2 btn-large" asp-area="" asp-controller="Scanner" asp-action=""><i class="material-icons left">qr_code_scanner</i>Scan Item</a>
    <!--Takes user to create code page to create an QR code for an item-->
    <a class="waves-effect blue darken-2 btn-large" asp-area="" asp-controller="CodeCreator" asp-action=""><i class="material-icons left">create</i>Create QR Code</a>
</div>