<h1>Scanned Part: </h1>

<form>
    <label>Part Number:</label>
    <textarea></textarea>
    <br />
    <label>Job Number: </label>
    <textarea></textarea>
    <br />
    <label>Quantity: </label>
    <textarea></textarea>
    <br />
    <label>Return Options: </label>
    <select></select>
    <br />
    <label>Tech Options: </label>
    <select></select>
    <br />
    <button>Clear</button>
    <button>Submit</button>
</form>