<head>

    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/ScannerWebAppUpdate.styles.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<style>
    .btn{
    margin: 5px;
    }

    .input-field label {
        font-size: 20px;
    }

</style>


<body>

    <!-- Admin Modal Trigger -->
    <button data-target="modal1" class="btn modal-trigger">Admin</button>

    <!-- Admin Modal Structure TODO: Add password function to dialog -->
    <div id="modal1" class="modal">
        <div>
            <label>Enter Passcode: </label>
            <textarea> </textarea>
            <button class="modal-close">Cancel</button>
            <button class="modal-close">Enter</button>
        </div>
    </div>

    <!--Takes part returned from DB and fills form-->
    <form>
        <div class="row">
            <div class="input-field col s3">
                <!--Parts Item Number-->
                <label>Part Number:</label>
                <textarea>@ViewBag.ScannedPart.ItemNumber</textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s3">
                <!--Parts Job Number-->
                <label>Job Number: </label>
                <textarea>@ViewBag.ScannedPart.JobNumber</textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s3">
                <!--Parts Quantity-->
                <label>Quantity: </label>
                <textarea>@ViewBag.ScannedPart.Quantity</textarea>
            </div>
            <div class="btn-container">
                <button>+</button>
                <button>-</button>
            </div>
        </div>

        <!--Parts Return Option, N/A if does not exist-->
        <label>Return Options: </label>
        <div class="row">
            <div class="input-field col s3">
                <select>
                    <option value="1">Abandoned Job</option>
                    <option>Broken</option>
                    <option>Missing Parts</option>
                </select>
            </div>
        </div>
        <!--Clears selected option-->
        <button>Clear</button>
        <!--Allows user to enter an option manually-->
        <button>Other</button>
        <br />

        <!--Parts Tech Option, N/A if does not exist-->
        <label>Tech Options: </label>
        <div class="row">
            <div class="input-field col s3">

                <select>
                    <option>Tech 1</option>
                    <option>Tech 2</option>
                </select>
            </div>
        </div>
        <!--Clears selected option-->
        <button>Clear</button>
        <!--Allows user to enter an option manually-->
        <button>Other</button>
        <br />

        <!--Resets form back to original state-->
        <button>Reset</button>
        <!--Loads scanner page, allows user to rescan-->
        <button>Scan New</button>
        <br />
        <!--Submits changes to database-->
        <button>Submit</button>
    </form>


    <script src="~/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
</body>
