<h1>Scanned Part: </h1>

<button>Admin Access</button>
<form>
    <label>Part Number:</label>
    <textarea></textarea>
    <br />
    <label>Job Number: </label>
    <textarea></textarea>
    <br />
    <label>Quantity: </label>
    <textarea></textarea>
    <br />


    <label>Return Options: </label>
    <select>
        <option>Abandoned Job</option>
        <option>Broken</option>
        <option>Missing Parts</option>
    </select>
    <button>Clear</button>
    <button>Other</button>
    <br />


    <label>Tech Options: </label>
    <select>
        <option>Tech 1</option>
        <option>Tech 2</option>
    </select>
    <button>Clear</button>
    <button>Other</button>
    <br />

    <button>Reset</button>
    <button>Scan New</button>
    <br />
    <button>Submit</button>
</form>