.btn-large {
    margin: 2px;
    border-radius: 20px;
}

.btn {
    margin: 2px;
    border-radius: 20px;
}

.btn-small {
    margin: 2px;
    border-radius: 5px;
}

.perfect-center {
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.perfect-center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.bottom-table-dialog {
    border-top-right-radius: 30px !important; /* Adjust the value as needed */
    border-top-left-radius: 30px !important; /* Adjust the value as needed */

    width: 95vw !important;
    position: fixed;
    left: 50%; /* Center horizontally */
    bottom: 0; /* Align to the bottom */
    transform: translateX(-50%); /* Offset by half the width to fully center it */
    max-width: 95%; /* Ensure it doesn’t stretch too wide */
    width: auto;
    margin: 0;
    padding: 0;
}


.result-Dialog {
    width: 90vw;
    height: 60vh;
    border-radius: 15px; /* Adjust the value as needed */
}

.quantity-dialog {
    width: 90vw;
    height:auto;
    border-radius: 15px; /* Adjust the value as needed */
}

.admin-Dialog {
    width: 80vw;
    height: auto;
    border-radius: 15px; /* Adjust the value as needed */
}

.small-dialog {
    width: 80vw;
    height: auto;
    border-radius: 15px; /* Adjust the value as needed */
}

.reader-card {
    /*width: 80vw;*/
    justify-content: center;
    align-items: center;
    border-radius: 15px; /* Adjust the value as needed */
}

.modal-content{
    height:100%;
}


/* Custom container margin */
.page-container {
    width: 95%;
    height: 100%;
    margin: 5px auto;
    padding-bottom: 50px; /* Adjust this value as needed */
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.truncate {
    display: inline-block;
    max-width: 150px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.expanded {
    white-space: normal;
    max-width: none;
}

.table-container {
    display: block;
    overflow-x: auto;
    width: 100%;
}

.dataTable {
    width: 100%;
}

main {
    flex: 1 0 auto;
}

.vertical-btn-container {
    display: inline-grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
}

#ScanDialog {
    width: 80vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.title-header {
    font-weight: 200;
}


.form-container {
    margin: 8px 0px 0px 0px;
}

.center-help-container {
    height: 75vh;
    align-content: center;
}


.part-google a {
    text-decoration: underline; /* Underline the link */
    font-size: 20px !important; /* Increase the font size (adjust as needed) */
    color: white !important;
}



.btn-container {
    display: inline-grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
}

    .btn-container a {
        margin: 2px;
    }

    .btn-container button {
        margin: 2px;
        width:100%;
    }



.multi-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


/* Basic styles for button containers */
.left-btn-container, .right-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; /* Ensure containers take full width */
    margin-bottom: 10px; /* Add space between stacked buttons */
}

    /* Ensure buttons fill the width of their containers */
    .left-btn-container button, .right-btn-container button {
        width: 100%;
    }


.result-container {
    display: none;  /*Hide initially */
    position: fixed;
    top: 75%;
    left: 0;
    bottom: 1%;
    right: 0;
    margin: auto;
    z-index: 1006;
    width: 80%;
    max-height: 70%;
    background: rgba(0,0,0,0.7); /*  70% opaque green */
    border-radius: 20px;
}
   


    @media print {
        form, .btn-container {
            display: none;
        }

        .navbar-fixed,
        .sidenav-fixed {
            display: none !important;
        }
    }



@media only screen and (min-width: 993px) {

    .reader-card {
        width: 50vw;
        justify-content: center;
        align-items: center;
        border-radius: 15px; /* Adjust the value as needed */
    }

    .bottom-table-dialog {
        border-top-right-radius: 30px !important; /* Adjust the value as needed */
        border-top-left-radius: 30px !important; /* Adjust the value as needed */
        width: 80vw !important;
        position: fixed;
        left: 50%; /* Center horizontally */
        bottom: 0; /* Align to the bottom */
        transform: translateX(-50%); /* Offset by half the width to fully center it */
        max-width: 90%; /* Ensure it doesn’t stretch too wide */
        width: auto;
        margin: 0;
        padding: 0;
    }


    spark-scan-view-mini-preview[visible] {
        display: block;
        z-index: 20 !important;
        margin-left: 300px !important;
        
    }

    .result-container {
        top: 82%;
        bottom: 1%;
        width: 35%;
    }

        .small-dialog {
            width: 45vw;
            height: auto;
            border-radius: 15px; /* Adjust the value as needed */
        }

        .quantity-dialog {
            width: 45vw;
            height: auto;
            border-radius: 15px; /* Adjust the value as needed */
        }

        /* Ensure buttons fill the width of their containers */
        .left-btn-container button, .right-btn-container button {
            width: auto;
        }

        .right-btn-container {
            flex-direction: row;
            justify-content: flex-end;
        }


        .left-btn-container {
            flex-direction: row;
            justify-content: flex-start;
        }



        .multi-btn-container {
            display: flex;
            flex-direction: row;
        }



        .form-container {
            margin: 2px 0px 0px 0px;
        }

        /* Custom container margin */
        .page-container {
            width: 95%;
            margin: 5px auto;
            padding-bottom: 50px; /* Adjust this value as needed */
            padding-left: 265px;
        }

        .invesible-top {
            top: 65px;
        }

        .result-Dialog {
            width: 35vw;
            height: 45vh;
            border-radius: 15px; /* Adjust the value as needed */
        }

        .admin-Dialog {
            width: 35vw;
            height: 45vh;
            border-radius: 15px; /* Adjust the value as needed */
        }

        #ScanDialog {
            width: 50vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
        }

        .btn-container {
            display: inline-grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            padding: 10px;
            margin-top: 20px;
        }

            .btn-container a {
                margin: 0 4px;
            }

            .btn-container button {
                margin: 0 4px;
                width: 20%;
            }
    }


