.btn-large {
    margin: 2px;
}

.btn {
    margin: 2px;
}

.btn-small {
    margin: 2px;
}

.perfect-center {
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.perfect-center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.result-Dialog {
    width: 80vw;
    height: 60vh;
    border-radius: 15px; /* Adjust the value as needed */
}

.admin-Dialog {
    width: 80vw;
    height: 50vh;
    border-radius: 15px; /* Adjust the value as needed */
}


/* Custom container margin */
.page-container {
    width: 95%;
    height: 100%;
    margin: 5px auto;
    padding-bottom: 50px; /* Adjust this value as needed */
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.truncate {
    display: inline-block;
    max-width: 150px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.expanded {
    white-space: normal;
    max-width: none;
}

.table-container {
    display: block;
    overflow-x: auto;
    width: 100%;
}

.dataTable {
    width: 100%;
}

main {
    flex: 1 0 auto;
}

.vertical-btn-container {
    display: inline-grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
}

#ScanDialog {
    width: 80vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.title-header {
    font-weight: 200;
}


.form-container {
    margin: 8px 0px 0px 0px;
}

.center-help-container {
    height: 75vh;
    align-content: center;
}



.btn-container {
    display: inline-grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
}

    .btn-container a {
        margin: 2px;
    }

    .btn-container button {
        margin: 2px;
    }

@media only screen and (min-width: 993px) {

    .form-container {
        margin: 2px 0px 0px 0px;
    }

    /* Custom container margin */
    .page-container {
        width: 95%;
        margin: 5px auto;
        padding-bottom: 50px; /* Adjust this value as needed */
        padding-left: 265px;
    }

    .invesible-top {
        top: 65px;
    }

    .result-Dialog {
        width: 35vw;
        height: 45vh;
        border-radius: 15px; /* Adjust the value as needed */
    }

    .admin-Dialog {
        width: 35vw;
        height: 45vh;
        border-radius: 15px; /* Adjust the value as needed */
    }

    #ScanDialog {
        width: 50vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .btn-container {
        display: inline-grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        padding: 10px;
        margin-top: 20px;
    }

        .btn-container a {
            margin: 0 4px;
        }

        .btn-container button {
            margin: 0 4px;
        }
}
/* label color */
/*.input-field label {
    color: black;
    
}*/
/* label focus color */
/*.input-field input[type=text]:focus + label {
    color: green;
}*/
/* label underline focus color */
/*.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}*/
/* valid color */
/*.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}*/
/* invalid color */
/*.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text] {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;*/ /* Adjust the value for more or less rounding */
/*padding: 8px;*/ /* Adjust padding to make sure text doesn't touch the border */
/*}*/
