<div>
    <!--Header-->
    <div class="row">
        <div class="col s12">
            <h3>Add Part:</h3>
        </div>
    </div>

    <!--Scan options-->
    <div class="row">
        <div class="col s12">
            <!--Options for scanning bar codes-->
            <div id="scanOptions" class="center-align">
                <button class="btn waves-effect blue darken-2" id="cameraScan"><i class="material-icons">photo_camera</i></button>
                <button class="btn waves-effect blue darken-2" id="readerScan"><i class="material-icons">barcode_reader</i></button>
            </div>
        </div>
    </div>

    <!--Scanner text result-->
    <div class="row">
       <div class="col s12">
           <label for="resultText">Part Number:</label>
           <input type="text" id="resultText" placeholder="Scan or Enter Part Number:"/>
       </div>
    </div>

    <!--Search button-->
    <div class="row">
        <div class="col s12">
            <button>Search</button>
        </div>
    </div>

    <!--Table Of Parts-->
    <div class="row">
        <div class="table-container">
            <table>

            </table>
        </div>
    </div>

   

</div>
