@model JobPartsPartialViewModel

<!-- Include jQuery Library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<input id="jobId" type="hidden" value="@ViewBag.JobId" />


<div>
    <div class="row">
        <h3>Job Number: @ViewBag.JobId</h3>
    </div>

    <div class="row">
        <div class="col s12">
            <h6>Continous Scanning: </h6>
            <button id="continousBN">False</button>
        </div>
    </div>


    <!-- Scaan Modal Structure-->
    <div id="ScanDialog" class="modal">
        <div class="modal-container">
            <!--QR Code Reader-->
            <div class="row">
                <div id="reader"></div>
            </div>
            <button class="btn-floating btn-small waves-effect blue darken-2 btn-scanning" id="switchCamera"><i class="material-icons">cameraswitch</i>Switch</button>
        </div>
    </div>


    <!-- Quantity Modal -->
    <div id="quantityModal" class="modal">
        <div class="modal-content">
            <div class="row">
                <h3 id="JobPartHeader">Part: </h3>
            </div>
            <div class="row">
                    <button id="googlePartButton">Google Part</button>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>Quantity:</label>
                    <input id="inputQty" type="text" />
                    <input id="maxQty" type="text" disabled/>

                    <div class="btn-container">
                        <button id="assignPart">Assign</button>
                        <button id="removePart">Remove</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="jobPartStatus">Status:</label>
                <select id="jobPartStatus"></select>
            </div>
            <div>
                
            </div>
            <div class="row">
                <button id="updatePart">Update Part</button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <!--Search Component-->
            @await Component.InvokeAsync("Search")
        </div>
    </div>

    <button id="SpecificSearch"></button>
    
    <div class="row">
        <div id="divPartial" class="col s12">
            @await Html.PartialAsync("_JobParts", Model)
        </div>
    </div>
    
</div>

@section Scripts{
    <script src="~/js/materialize.min.js"></script>
    <script src="~/dist/scanditscanning.bundle.js"></script>
    <script src="~/dist/uploadScanPart.bundle.js"></script>
}



